---
import { site } from "../../site.config";
---

{
  site.links?.length ? (
    <section class="section" aria-labelledby="links-heading">
      <h2 id="links-heading">Links</h2>
      <ul class="link-list">
        {site.links.map((link) => (
          <li>
            <a href={link.href}>{link.label}</a>
          </li>
        ))}
      </ul>
    </section>
  ) : null
}
