---
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";
import { site } from "../site.config";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style is:global>
      @import "../styles/base.css";
    </style>
    <style is:inline>{`:root{ --theme: ${site.themeColor}; --accent: ${site.accentColor}; }`}</style>
    <SEO />
  </head>
  <body>
    <slot />
    <Footer />
  </body>
</html>
